{
  "presets": [
    "react",
    "env",
    "stage-3"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-regenerator",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-async-to-generator"
  ]
}